:root{
    --dark-color: #333;
    --light-color: #fff;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background: #f2f2f2;
    transition: 0.24s;
    margin-top: 50px;
}

.dark-mode{
    background: var(--dark-color);
    color: var(--light-color);
}

#infos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#grid{
    display: grid;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    margin: 1px;
    background-color: var(--light-color);
    cursor: pointer;
    font-size: 15px;
}

.cell:hover,
.cell:active{
    background-color: #999;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    border-radius: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: larger;
}

.little{
    width: 50px;
    height: 50px;
    font-size: larger;
}